{% extends "main/base.html" %}

{% load static %}

{% block title %}
    Team
{% endblock %}

{% block content %}

<div class="py-5 team4 text-white">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h3 class="mb-3">Experienced & Professional Team</h3>
          <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
        </div>
      </div>
      <div class="row">
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img src="{% static 'main/img/giuliano.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Giuliano Conti</h5>
                <h6 class="subtitle mb-3">Developer - Designer</h6>
                <p>Creator of the page with the help of a project developed in the second stage of INFORMATORIO2021. </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="https://www.facebook.com/giuli.conti.12/" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://twitter.com/GrupoNro8" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.instagram.com/giulianocontii/" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img src="{% static 'main/img/brisa.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Brisa Romero</h5>
                <h6 class="subtitle mb-3">Friend</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img src="{% static 'main/img/agustin.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Agustin Olivero</h5>
                <h6 class="subtitle mb-3">Friend</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
         <!-- column  -->
         <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'main/img/tiago.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Tiago Gutierrez</h5>
                  <h6 class="subtitle mb-3">Friend</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
           <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'main/img/ingrid.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Ingrid Schwesig</h5>
                  <h6 class="subtitle mb-3">Friend</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
           <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'main/img/theo.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Theo Riback</h5>
                  <h6 class="subtitle mb-3">Friend</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
           <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'main/img/constanza.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Constanza Martina</h5>
                  <h6 class="subtitle mb-3">Friend</h6>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12">
              <img src="{% static 'main/img/joaquin.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Joaquin Galdeano</h5>
                <h6 class="subtitle mb-3">Friend</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit.   </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
